<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>花束包装纸</title>
    <link rel="stylesheet" href="../css/BaoZhuangZhi.css">
    <link rel="stylesheet" href="css/yewei.css"/>
    <link rel="stylesheet" href="css/index.css"/>

</head>
<body>
<%- include head.html %>
<div id="wrapper">
    <div class="Banner"><img src="../images/1065376.jpg"></div>
    <div class="BiaoTI">
        <p class="BTh3_2">BEST SELLER FOR YOU</p> <p class="BTh3_1">花束包装纸</p><img class="logo_1" src="../images/1_03.png" alt=""><img class="logo_2" src="../images/1_05.png" alt=""></div>

    <div class="content">

        <div class="productDetails">

            <div class="product_kuang">

                <div class="hover" index="0"> <h2>碎花背景纸手工纸</h2>
                    <div class="logo_3"><div>￥3.00</div></div>
                </div>

                <p style="display: none" class="idBox"><%= data[0].wrapper_id%></p>
                <div  class="product_picture"><img src="<%= data[0].wrapper_src%>"></div>

            </div>
            <div class="product_kuang">

                <div class="hover" index="1"> <h2>1cm彩带 DIY手工材料</h2>
                    <div class="logo_3"><div>￥4.00</div></div>

                </div>
                <p style="display: none" class="idBox"><%= data[1].wrapper_id%></p>
                <div class="product_picture"><img src="<%=data[1].wrapper_src%>"></div>


            </div>
            <div class="product_kuang">
                <p style="display: none" class="idBox"><%= data[2].wrapper_id%></p>
                <div class="hover" index="2"> <h2>爵熊纯色雾面纸</h2>
                    <div class="logo_3"><div>￥4.00</div></div>

                </div>
                <div class="product_picture"><img src="<%=data[2].wrapper_src%>"></div>


            </div>
            <div class="product_kuang">
                <p style="display: none" class="idBox"><%= data[3].wrapper_id%></p>
                <div class="hover" index="3"> <h2>韩式花店纯色雾面纸</h2>
                    <div class="logo_3"><div>￥6.00</div></div>

                </div>
                <div class="product_picture"><img src="<%=data[3].wrapper_src%>"></div>

            </div>
            <div class="product_kuang">
                <p style="display: none" class="idBox"><%= data[4].wrapper_id%></p>
                <div class="hover" index="4"> <h2>英文雾面纸</h2>
                    <div class="logo_3"><div>￥4.00</div></div>
                </div>
                <div class="product_picture"><img src="<%=data[4].wrapper_src%>"></div>

            </div>
            <div class="product_kuang">
                <p style="display: none" class="idBox"><%= data[5].wrapper_id%></p>
                <div class="hover" index="5"> <h2>雾面韩国纯色包装纸</h2>
                    <div class="logo_3"><div>￥3.00</div>
                    </div>
                </div>
                <div class="product_picture"><img src="<%=data[5].wrapper_src%>"></div>

            </div>
            <div class="product_kuang">
                <p style="display: none" class="idBox"><%= data[6].wrapper_id%></p>
                <div class="hover" index="6"> <h2>花衣裳条纹巴黎纸</h2>
                    <div class="logo_3"><div>￥5.00</div></div>
                </div>
                <div class="product_picture"><img src="<%=data[6].wrapper_src%>"></div>

            </div>
            <div class="product_kuang">
                <p style="display: none" class="idBox"><%= data[7].wrapper_id%></p>
                <a href="goodDetails.html"><div class="hover" index="7"> <h2>花衣裳 高档鲜花包装纸</h2>
                    <div class="logo_3"><div>￥8.00</div></div>
                </div></a>
                <div class="product_picture"><img src="<%=data[7].wrapper_src%>"></div>

            </div>

            <div class="product_kuang">
                <p style="display: none" class="idBox"><%= data[8].wrapper_id%></p>
                <div class="hover" index="8"> <h2>皱纹纸花 DIY手工材料</h2>
                    <div class="logo_3"><div>￥8.00</div></div>
                </div>
                <div class="product_picture"><img src="<%=data[8].wrapper_src%>"></div>

            </div>

            <div class="product_kuang">
                <p style="display: none" class="idBox"><%= data[9].wrapper_id%></p>
                <div class="hover" index="9"> <h2>新款高档亚瑟纸</h2>
                    <div class="logo_3"><div>￥10.00</div></div>
                </div>
                <div class="product_picture"><img src="<%=data[9].wrapper_src%>"></div>

            </div>
            <div class="product_kuang">
                <p style="display: none" class="idBox"><%= data[6].wrapper_id%></p>
                <div class="hover" index="6"> <h2>花衣裳条纹巴黎纸</h2>
                    <div class="logo_3"><div>￥5.00</div></div>
                </div>
                <div class="product_picture"><img src="<%=data[6].wrapper_src%>"></div>

            </div>
            <div class="product_kuang">
                <p style="display: none" class="idBox"><%= data[7].wrapper_id%></p>
                <a href="goodDetails.html"><div class="hover" index="7"> <h2>花衣裳 高档鲜花包装纸</h2>
                    <div class="logo_3"><div>￥8.00</div></div>
                </div></a>
                <div class="product_picture"><img src="<%=data[7].wrapper_src%>"></div>

            </div>


        </div>
    </div>
    <div class="last_banner"><div><img src="../images/lastbanner.jpg" alt=""></div><div><p class="banner_p1">专爱柔光系列</p><p class="banner_p2">朦胧而细腻的晨雾柔光<br/><br/>
        如岁月静好的感性<br/><br/>
        让你的花儿带着这份柔情<br/><br/>
        成为小情怀的心头好</p></div></div>
</div>
<%- include foot.html %>
<script src="../js/BZz/BZZ.js"></script>
<script src="js/fenxiang.js"></script>
<script src="../js/head.js"></script>
<script src="../js/checkLogStatus.js"></script>
</body>
</html>