<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <title>周期购详情</title>

    <link rel="stylesheet" href="../css/font-awesome.min.css"/>
    <link rel="stylesheet" href="../css/yewei.css"/>
    <link rel="stylesheet" href="../css/index.css"/>
    <link href="../css/cycleBuy.css" rel="stylesheet"/>

</head>
<body>
<%- include head.html %>
<div id="wrapper">

    <div id="content">
        <main>
            <section class="banner">
                <div id="banner_text">
                    <p class="red_title">Lsstening the songs from<br/>
                        Field’s Floral </p>
                    <p class="green_title">每周一束会唱歌的鲜花<br/>
                        倾听未知花朵,谱写美妙生活乐章</p>
                    <p class="knowMore_title">
                        <a href="cycleDetails.html">
                            了解商品详情
                            <span class="icon_knowMore"></span>
                        </a>
                    </p>
                </div>
            </section>
            <section class="content order_intro">
                <div class="container">
                    <div class="dev">
                        <hr/>
                        <p class="green_title main_title">鲜花周期购</p>
                    </div>
                    <div class="content_wrapper">
                        <div class="number1">
                            <h1 class="textVertical">01</h1>
                            <span class="title_line line_vertical"></span>
                        </div>
                        <div class="box intro_box">
                            <div class="text_wrapper textIntro">
                                <h2>像订杂志一样订购鲜花</h2>
                                <h3>subscription packages</h3>
                                <p class="detailText intro_text">1.花材数量约8-30花头，花材种类由花期而定。<br/>
                                    2.花束随机精心采摘，新鲜花材每周一束。<br/>
                                    3.每期套餐包括：花+花泥+包装纸+包扎绳+纸盒+创作指南。>
                                    您可以选择预定我们已经创作完成的成品花束，
                                    也可以选择半成品材料，亲自体验美妙的花束创作。
                                </p>
                                <p class="knowMore_title">
                                    <a href="cycleDetails.html">
                                        了解商品详情
                                        <span class="icon_knowMore"></span>
                                    </a>
                                </p>
                            </div>
                        </div>
                        <div class="imgDiv introImg1"></div>
                        <div class="imgDiv introImg2"></div>
                    </div>
                </div>
            </section>
            <section class="content life_theme">
                <div class="container">
                    <div class="content_wrapper">
                        <p class="detailText life_text">每周为您送上一束应季混搭鲜花，
                            在这喧嚣城市中，亦享自然的气息，
                            一起跟随季节的脚步，遇见未知的美好。
                        </p>
                        <div class="box life_box">
                        </div>
                        <div class="number2">
                            <span class="title_line line_horizon"></span>
                            <h1>02</h1>
                        </div>
                        <div class="text_wrapper textLife">
                            <h2>遇见生活的美好</h2>
                            <h3>meeting the beatiful life</h3>
                            <p class="knowMore_title">
                                <a href="cycleDetails.html">
                                    了解商品详情
                                    <span class="icon_knowMore"></span>
                                </a>
                            </p>
                        </div>
                        <div class="imgDiv lifeFlower1"><img src="../images/cycleBuy/life_flower1.png"></div>
                        <div class="imgDiv lifeFlower2"><img src="../images/cycleBuy/life_flower2.png"></div>
                        <div class="imgDiv wood1"><img src="../images/cycleBuy/wood1.png"></div>
                        <div class="imgDiv wood2"><img src="../images/cycleBuy/wood2.png"></div>
                        <div class="imgDiv book"><img src="../images/cycleBuy/book.png"></div>
                        <div class="imgDiv food"><img src="../images/cycleBuy/food.png"></div>
                        <div class="imgDiv cuillere"><img src="../images/cycleBuy/cuillere.png"></div>
                        <div class="imgDiv cup"><img src="../images/cycleBuy/cup.png"></div>
                    </div>
                </div>
            </section>
            <section class="content love_theme">
                <div class="container">
                    <div class="content_wrapper">
                        <div class="number1">
                            <span class="title_line line_vertical"></span>
                            <h1 class="textVertical">03</h1>
                        </div>
                        <div class="text_wrapper textLove">
                            <h2>有一种香气叫甜蜜</h2>
                            <h3>sweet  from lovers</h3>
                            <p class="knowMore_title">
                                <a href="cycleDetails.html">
                                    了解商品详情
                                    <span class="icon_knowMore"></span>
                                </a>
                            </p>
                            <p class="detailText Love_text">每一周玫瑰有约，<br/>
                                情深意浓，初心不负，<br/>
                                我们一起分享这甜蜜的芳香与爱意世界
                            </p>
                        </div>
                        <div class="box love_box">
                        </div>
                        <div class="imgDiv loveFlower1"><img src="../images/cycleBuy/love_flower1.png"></div>
                        <div class="imgDiv loveFlower2"><img src="../images/cycleBuy/love_flower2.png"></div>
                    </div>
                </div>
            </section>
            <section class="content family_theme">
                <div class="family_theme_bg"></div>
                <div class="container">
                    <div class="content_wrapper">
                        <p class="detailText family_text">
                            似水年华，褪去了曾经青春的容颜，<br/>
                            世事繁华，老树佝偻，盼一缕春日暖阳，<br/>
                            一周一花，四季生机，<br/>
                            一缕流芳，一生牵挂。<br/>
                        </p>
                        <div class="box family_box">
                        </div>
                        <div class="number2">
                            <span class="title_line line_horizon"></span>
                            <h1>04</h1>
                        </div>
                        <div class="text_wrapper textLife">
                            <h2>家人的温暖问候</h2>
                            <h3>warm regard to family</h3>
                            <p class="knowMore_title">
                                <a href="cycleDetails.html">
                                    了解商品详情
                                    <span class="icon_knowMore"></span>
                                </a>
                            </p>
                        </div>

                        <div class="imgDiv family_flower1"><img src="../images/cycleBuy/family_flower1.jpg"></div>
                        <div class="imgDiv family_flower2"><img src="../images/cycleBuy/family_flower2.jpg"></div>
                    </div>
                </div>
            </section>
        </main>
    </div><!--content end-->
    <footer id="footer">
        <%- include foot.html %>
    </footer><!--footer end-->
</div><!--wrapper end-->

<!--<script src="../js/index.js"></script>-->
<script src="../js/fenxiang.js"></script>
<script src="../js/head.js"></script>
<script src="../js/checkLogStatus.js"></script>
</body>
</html>