<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>节日活动</title>
    <link rel="stylesheet" href="../css/festival.css"/>
    <link rel="stylesheet" href="css/yewei.css"/>
    <link rel="stylesheet" href="css/index.css"/>
</head>
<body>
    <div id="container">
        <div id="header"><%- include head.html %></div><!--header结束-->
             <div class="blank"></div>
        <div id="contain">
             <div class="festival" id="first_festival">
                 <div class="festival_activity1">
                     <div class="festival_activity1_middle">
                         <p>全场优惠-8折</p>
                         <p>折扣基础满200减50</p>
                         <p>买二送一</p>
                         <p><a href="qixi.html">了解详情</a></p>
                     </div>
                 </div>
             </div><!--七夕节结束-->
             <div class="festival" id="second_festival">
                 <div class="festival_activity1">
                     <div class="festival_activity1_middle">
                         <p>全场优惠-8折</p>
                         <p>折扣基础满200减50</p>
                         <p>买二送一</p>
                         <p><a href=MotherDay.html">了解详情</a></p>
                     </div>
                 </div>
             </div><!--父亲节结束-->
             <div class="festival" id="third_festival">
                 <div class="festival_activity1">
                     <div class="festival_activity1_middle">
                         <p>全场优惠-8折</p>
                         <p>折扣基础满200减50</p>
                         <p>买二送一</p>
                        <p><a href="faD.html">了解详情</a></p>
                     </div>
                 </div>
             </div><!--母亲节结束-->
        </div>
        <div class="time">
                 <span class="time_line"></span>
                 <span id="circle1" onclick="time(1)" class="time_circle"></span>
                 <span class="time_line"></span>
                 <span id="circle2" onclick="time(2)" class="time_circle"></span>
                 <span class="time_line"></span>
                 <span id="circle3" onclick="time(3)" class="time_circle"></span>
                 <span class="time_line"></span>
             </div><!--时间轴结束-->
         </div><!--内容contain结束-->
    </div><!--container结束-->
<script src="../js/festival.js"></script>
<script src="js/index.js"></script>
<script src="js/fenxiang.js"></script>
    <script src="../js/head.js"></script>
    <script src="../js/checkLogStatus.js"></script>
</body>
</html>