<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Feld's FLORAL</title>
    <link rel="stylesheet" href="../css/LiHeCss.css">
    <link href="../css/reset.css" rel="stylesheet" type="text/css" />
    <link href="../css/font-awesome.min.css" rel="stylesheet" type="text/css" />
    <link href="../css/style.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="../css/yewei.css">
    <link rel="stylesheet" href="css/yewei.css"/>
    <link rel="stylesheet" href="css/index.css"/>
</head>
<body>
<%- include head.html %>
<div id="wrapper">
    <div class="Banner"><img src="../images/14734124065825782.jpg"></div>
    <!--
        <div class="banner_p"><p>绿是水的颜色,是山的颜色.它覆盖了整个地球.高山流水是清幽之景,绿色之致,无论你处何时在何处,绿色总伴你身边,因为绿色是生命之色.</p></div>
    -->
    <div class="BiaoTI">
        <p class="BTh3_2">BEST SELLER FOR YOU</p> <p class="BTh3_1">花语礼盒</p><img class="logo_1" src="../images/1_03.png" alt=""><img class="logo_2" src="../images/1_05.png" alt=""></div>

    <div class="content">
        <div class="two_picuture">
            <div><img src="../images/14630522482104430.jpg" alt=""></div>
            <div>

                <h3>花开了，我便画花。</h3>

                　<h3>花谢了，我便画我自己。</h3>

                　　<h3>你来了，我当然画你。</h3>

                　　<h3>你走了，我便画一画回忆。</h3>
            </div>
            <div><img src="../images/20131213163523.jpg" alt=""></div>
            <div><p>一首爱的恋曲，
                一份心的期待。
                几许期许，
                几许感悟，
                让我们共同来
                谙就明天的韵律！</p></div>
        </div>
        <div class="productDetails">
            <div class="BiaoTI">
                <p class="BTh3_2">BEST SELLER FOR YOU</p> <p class="BTh3_1">精选礼盒</p><img class="logo_1" src="../images/1_03.png" alt=""><img class="logo_2" src="../images/1_05.png" alt=""></div>

            <div id="latest-news" class="latest-news">

                <div class="single-wrapper">

                    <div class="single-item single-item-1">
                        <div class="single-item-main">
                            <div class="single-icon">
                                <ul class="grid cs-style-5">
                                    <li>
                                        <figure> <img src="<%=data[0].gift_src%>"  />
                                            <figcaption>
                                                <h3>情窦初开</h3>
                                                <span>执子之手，与子偕老。</span> <div id="chakanBTN"><a class="button">
                                                <button class="btn btn-blue btn-3blue fa fa-share"><p class="chakna_2" index="0">查看详情<p></button>
                                                <p style="display: none" class="idBox"><%= data[0].gift_id%></p>
                                            </a> </div></figcaption>
                                        </figure>
                                    </li>
                                </ul>
                            </div>

                        </div>

                    </div>


                    <div class="single-item single-item-1">
                        <div class="single-item-main">
                            <div class="single-icon">
                                <ul class="grid cs-style-5">
                                    <li>
                                        <figure> <img src="<%=data[1].gift_src%>"  width="100%" height="100%" />
                                            <figcaption>
                                                <h3>长相思</h3>
                                                <span>我好想你，好想你</span> <a class="button">
                                                <button class="btn btn-blue btn-3blue fa fa-share"><p class="chakna_2" index="1">查看详情<p></button>
                                                <p style="display: none" class="idBox"><%= data[1].gift_id%></p>
                                            </a> </figcaption>
                                        </figure>
                                    </li>
                                </ul>
                            </div>

                        </div>

                    </div>


                    <div class="single-item single-item-1">
                        <div class="single-item-main">
                            <div class="single-icon">
                                <ul class="grid cs-style-5">
                                    <li>
                                        <figure> <img src="<%=data[2].gift_src%>"  width="100%" height="100%" />
                                            <figcaption>
                                                <h3>爱琴海之吻</h3>
                                                <span>爱一个人，是一辈子。</span> <a class="button">
                                                <button class="btn btn-blue btn-3blue fa fa-share"><p class="chakna_2" index="2">查看详情<p></button>
                                                <p style="display: none" class="idBox"><%= data[2].gift_id%></p>
                                            </a> </figcaption>
                                        </figure>
                                    </li>
                                </ul>
                            </div>

                        </div>

                    </div>


                    <div class="single-item single-item-1">
                        <div class="single-item-main">
                            <div class="single-icon">
                                <ul class="grid cs-style-5">
                                    <li>
                                        <figure> <img src="<%=data[3].gift_src%>" width="100%" height="100%" />
                                            <figcaption>
                                                <h3>信物</h3>
                                                <span>爱一人，此生不换</span> <a class="button">
                                                <button class="btn btn-blue btn-3blue fa fa-share"><p class="chakna_2" index="3">查看详情<p></button>
                                                <p style="display: none" class="idBox"><%= data[3].gift_id%></p>
                                            </a> </figcaption>
                                        </figure>
                                    </li>
                                </ul>
                            </div>

                        </div>

                    </div>


                    <div class="single-item single-item-1">
                        <div class="single-item-main">
                            <div class="single-icon">
                                <ul class="grid cs-style-5">
                                    <li>
                                        <figure> <img src="<%=data[4].gift_src%>" width="100%" height="100%" />
                                            <figcaption>
                                                <h3>在一起</h3>
                                                <span>我能想到最浪漫的事，就是和你一起慢慢变老</span> <a class="button">
                                                <button class="btn btn-blue btn-3blue fa fa-share"><p class="chakna_2" index="4">查看详情<p></button>
                                                <p style="display: none" class="idBox"><%= data[4].gift_id%></p>
                                            </a> </figcaption>
                                        </figure>
                                    </li>
                                </ul>
                            </div>

                        </div>

                    </div>


                    <div class="single-item single-item-1">
                        <div class="single-item-main">
                            <div class="single-icon">
                                <ul class="grid cs-style-5">
                                    <li>
                                        <figure> <img src="<%=data[5].gift_src%>" width="100%" height="100%" />
                                            <figcaption>
                                                <h3>甜心</h3>
                                                <span>甜蜜的爱</span> <a class="button">
                                                <button class="btn btn-blue btn-3blue fa fa-share"><p class="chakna_2" index="5">查看详情<p></button>
                                                <p style="display: none" class="idBox"><%= data[5].gift_id%></p>
                                            </a> </figcaption>
                                        </figure>
                                    </li>
                                </ul>
                            </div>

                        </div>

                    </div>


                    <div class="single-item single-item-1">
                        <div class="single-item-main">
                            <div class="single-icon">
                                <ul class="grid cs-style-5">
                                    <li>
                                        <figure> <img src="<%=data[6].gift_src%>"  width="100%" height="100%" />
                                            <figcaption>
                                                <h3>光阴的故事</h3>
                                                <span>时光不老，我们不散</span> <a class="button">
                                                <button class="btn btn-blue btn-3blue fa fa-share"><p class="chakna_2" index="6">查看详情<p></button>
                                                <p style="display: none" class="idBox"><%= data[6].gift_id%></p>
                                            </a> </figcaption>
                                        </figure>
                                    </li>
                                </ul>
                            </div>

                        </div>

                    </div>


                    <div class="single-item single-item-1">
                        <div class="single-item-main">
                            <div class="single-icon">
                                <ul class="grid cs-style-5">
                                    <li>
                                        <figure> <img src="<%=data[7].gift_src%>"  width="100%" height="100%" />
                                            <figcaption>
                                                <h3>偶遇</h3>
                                                <span>转角，遇到爱</span> <a  class="button">
                                                <button class="btn btn-blue btn-3blue fa fa-share"><p class="chakna_2" index="7">查看详情<p></button>
                                                <p style="display: none" class="idBox"><%= data[7].gift_id%></p>
                                            </a> </figcaption>
                                        </figure>
                                    </li>
                                </ul>
                            </div>

                        </div>

                    </div>

                    <!--

                                      <div class="single-item single-item-1">
                                          <div class="single-item-main">
                                              <div class="single-icon">
                                                  <ul class="grid cs-style-5">
                                                      <li>
                                                          <figure> <img src="../images/20160430085953.jpg" width="100%" height="100%" />
                                                              <figcaption>
                                                                  <h3>清香</h3>
                                                                  <span>Rasty James</span> <a href="#" class="button">
                                                                  <button class="btn btn-blue btn-3blue fa fa-share">Take a Look</button>
                                                              </a> </figcaption>
                                                          </figure>
                                                      </li>
                                                  </ul>
                                              </div>

                                          </div>

                                      </div>

                                      <div class="single-item single-item-1">
                                          <div class="single-item-main">
                                              <div class="single-icon">
                                                  <ul class="grid cs-style-5">
                                                      <li>
                                                          <figure> <img src="../images/20140529094645.jpg" width="100%" height="100%" />
                                                              <figcaption>
                                                                  <h3>缤纷的爱</h3>
                                                                  <span>吸取太阳的光华，释放温暖</span> <a href="#" class="button">
                                                                  <button class="btn btn-blue btn-3blue fa fa-share">Take a Look</button>
                                                              </a> </figcaption>
                                                          </figure>
                                                      </li>
                                                  </ul>
                                              </div>

                                          </div>

                                      </div>

                                      <div class="single-item single-item-1">
                                          <div class="single-item-main">
                                              <div class="single-icon">
                                                  <ul class="grid cs-style-5">
                                                      <li>
                                                          <figure> <img src="../images/20140124093445.jpg" width="100%" height="100%" />
                                                              <figcaption>
                                                                  <h3>全城热恋</h3>
                                                                  <span>Rasty James</span> <a href="#" class="button">
                                                                  <button class="btn btn-blue btn-3blue fa fa-share">Take a Look</button>
                                                              </a> </figcaption>
                                                          </figure>
                                                      </li>
                                                  </ul>
                                              </div>

                                          </div>

                                      </div>

                                      <div class="single-item single-item-1">
                                          <div class="single-item-main">
                                              <div class="single-icon">
                                                  <ul class="grid cs-style-5">
                                                      <li>
                                                          <figure> <img src="../images/20160513151147.jpg" width="100%" height="100%" />
                                                              <figcaption>
                                                                  <h3>海派甜心</h3>
                                                                  <span>永恒爱情</span> <a href="#" class="button">
                                                                  <button class="btn btn-blue btn-3blue fa fa-share">Take a Look</button>
                                                              </a> </figcaption>
                                                          </figure>
                                                      </li>
                                                  </ul>
                                              </div>

                                          </div>

                                      </div>
                    -->


                </div>







            </div>



        </div>

        <div id="clear"></div>
        <script type="text/javascript" src="../js/LiHe/jquery.min.js"></script>
        <script type="text/javascript" src="../js/LiHe/jquery.easing.1.3.js"></script>
        <script type="text/javascript" src="../js/LiHe/jquery.contentcarousel.js"></script>
        <script type="text/javascript">
            $('#latest-news-container').contentcarousel();;
        </script>
        <div style="text-align:center;margin:50px 0; font:normal 14px/24px 'MicroSoft YaHei';">
        </div>
        <!--<div class="product_kuang">
            <div><img src="../images/20150720164644.jpg"></div>
            <h2>情窦初开</h2>
            <p>死生契阔，与子成说。执子之手，与子偕老。 </p>

            <div class="zhezhao_1"><img src="../images/logo_blackgrey.png" alt=""><hr/><h2>￥3.00</h2></div>


        </div>
                  <div class="product_kuang">
                      <div><img src="../images/20131210114543.jpg"></div>
                      <h2>长相思</h2>
                      <p>每一次呼吸、每一次闭上眼、我都会把我对你的思念加深</p>
                      <div class="zhezhao_1"><img src="../images/logo_blackgrey.png" alt=""><h2>￥3.00</h2></div>

                  </div>
                  <div class="product_kuang">
                      <div><img src="../images/20131211100439.jpg"></div>
                      <h2>爱琴海之吻</h2>
                      <p>爱一个人，是一辈子。如果我的等待可以换来多年前你一...</p>

                      <div class="zhezhao_1"><img src="../images/logo_blackgrey.png" alt=""><h2>￥3.00</h2></div>


                  </div>
                  <div class="product_kuang">
                      <div><img src="../images/20160724103652.jpg"></div>
                      <h2>信物</h2>
                      <p>微笑的弧度，弯成一轮新月，浅抿的双唇，闭合的弯度，... </p>
                      <div class="zhezhao_1"><img src="../images/logo_blackgrey.png" alt=""><h2>￥3.00</h2></div>

                  </div>
                  <div class="product_kuang">
                      <div><img src="../images/20131213163523.jpg"></div>
                      <h2>心情传递</h2>
                      <p>落叶知秋，友情永久，风渐凉时须无烦；岁月难留，蓦然...</p>

                      <div class="zhezhao_1"><img src="../images/logo_blackgrey.png" alt=""><h2>￥3.00</h2></div>


                  </div>
                  <div class="product_kuang">
                      <div><img src="../images/20160220104047.jpg"></div>
                      <h2>光阴的故事</h2>
                      <p>光阴的故事里有你有我，青春的记忆里相依相伴！未来的...</p>

                      <div class="zhezhao_1"><img src="../images/logo_blackgrey.png" alt=""><h2>￥3.00</h2></div>


                  </div>
                  <div class="product_kuang">
                      <div><img src="../images/20140115154911.jpg"></div>
                      <h2>偶遇</h2>
                      <p>偶然遇到一本书、一个人、一段感情，犹如偶尔落入沉静...</p>

                      <div class="zhezhao_1"><img src="../images/logo_blackgrey.png" alt=""><h2>￥3.00</h2></div>


                  </div>
                  <div class="product_kuang">
                      <div><img src="../images/20160430085953.jpg"></div>
                      <h2>清香</h2>
                      <p>淡淡的清香，是妈妈的味道，是深深的爱！ </p>

                      <div class="zhezhao_1"><img src="../images/logo_blackgrey.png" alt=""><h2>￥3.00</h2></div>


                  </div>-->
        <div class="details">
            <div class="BiaoTI">
                <p class="BTh3_2">BEST SELLER FOR YOU</p> <p class="BTh3_1">今日特推</p><img class="logo_1" src="../images/1_03.png" alt=""><img class="logo_2" src="../images/1_05.png" alt=""></div>
            <div class="bestLiHE"><div id="best_wenzi"><div id="chakan">查看详情</div><img class="honghua_1" src="../images/honghua.png" alt=""><img class="honghua_2" src="../images/honghua.png" alt="">
                <h2>恋香</h2><p>33只香槟玫瑰，少量绿叶，<br/>牛皮纸和深咖啡色纹纸，<br/>银色缎带花结，<br/>魔力铁山灰包装盒</p>

            </div><img id="hua" src="../images/hua.png" alt="">
                <img id="meigui" src="../images/14501493377217354.png" alt=""></div>

            <div id="shejishi"><h2>设计师物语</h2><h4>Designer LY</h4><hr/><p>离开双眼与光怪陆离，关掉耳朵与喧嚣浮躁，<br/>此刻，把我自己交给呼吸，是它指引我而来，<br/>是它一路不断唤醒我沉睡的热情，<br/>快去爱啊——他说</p><img src="../images/2015330198571186740%20(2).jpg" alt=""></div>
         <!--   <div id="dakaifenfang"><img src="../images/2015330199153011844 (1).jpg" alt=""></div>-->
            <div id="xijiezhanshi"><img src="../images/201533019935749087.jpg" alt=""></div>
        </div>
    </div>
</div>

</div>
<%- include foot.html %>
<script src="../js/LiHe/LiHe.js"></script>
<script src="../js/fenxiang/fenxiang.js"></script>
<script type="text/javascript" src="../js/LiHe/modernizr.custom.js"></script>
<!--<script src="js/index.js"></script>-->
<script src="js/fenxiang.js"></script>
<script>

</script>
<script src="../js/head.js"></script>
<script src="../js/checkLogStatus.js"></script>
</body>
</html>