<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <title>订单确认页面</title>
    <link rel="stylesheet" href="../css/orderSubmit.css"/>
    <link rel="stylesheet" href="../css/font-awesome.min.css"/>
    <link rel="stylesheet" href="css/yewei.css"/>
    <link rel="stylesheet" href="css/index.css"/>

</head>
<body>
<div class="managerAddressHid">
    <%- include head.html %>
</div><!--managerAddressHid end-->
<div id="wrapper">
    <header id="header">
    </header><!--header end-->
    <div id="content">
        <div id="relevantInfo">
            <div class="sureAddress">
                <div><span>确认收货地址</span><span class="managerAddress"><a href="">管理收货地址</a></span></div>
                <div class="addressList">
                    <% for(var i=0;i< data.length;i++){ %>
                    <p class="addItem">
                        <% if(data[i].address_default==1){ %>
                        <input type="radio" class="radio" checked="true"/>
                        <% }else{ %>
                        <input type="radio" class="radio"/>
                        <% } %>
                        <span class="addrId" style="display: none"><%= data[i].address_id %></span>
                        <!-- <span class="addr">四川省成都市高新区中和镇中和大道三段东站（王静收）18408234525</span>-->
                        <span class="addr"><%= data[i].address_name %><%= data[i].address_person_name %>
                        <%= data[i].address_person_tel %>
                        </span>
                    </p><!--每条地址 addItem end-->
                    <% } %>
                </div><!--addressList end-->
            </div><!--确认地址信息sureAddress end-->
            <div class="GreetingCard">
                <div class="cardContentBox">
                    <p>贺卡内容</p>
                    <textarea name="cardContent" id="cardContent" cols="30" rows="10"></textarea>

                </div><!--贺卡内容部分 cardContentBox end-->
                <div class="exampleBox">
                    <div class="sendPerson">
                        <p class="sendPersonItem">送恋人</p>

                        <p class="sendPersonItem">送朋友</p>

                        <p class="sendPersonItem">送长辈</p>
                    </div>
                    <div class="exampleText">
                        等待，只为与你的相遇。也许没有人会相信，这一刹那迸出的光芒，将要映亮你我漫漫一生。我在" +
                        "那盛开的兰花瓣上写出对你无穷的思念与祝福，并祝你生日快乐
                        </p>
                    </div><!--exampleBox end-->
                </div><!--实例 exampleBox end-->
            </div><!--贺卡内容GreetingCard end-->
            <div class="otherBox">
                <input type="checkbox" class="otherCheck" onclick="showInputOther(this);"/>其它说明
                <input type="text" class="otherInfo" />
            </div><!--其它otherBox end-->

        </div><!--relevantInfo end-->
        <div id="orderContainer">
            <p class="sureOrderContent">确认订单信息</p>
                <table class="orderList">
                    <tr>
                        <td>商品详情</td>
                        <td>单价</td>
                        <td>数量</td>
                        <td>小计（元）</td>
                    </tr>

                   <% for(var j=0;j< datas.length;j++){ %>
                    <tr class="goodInfo">
                        <td class="info">
                            <p class="idBox" style="display: none;"><%= datas[j].id %></p>
                            <div><img src="<%= datas[j].src %>" alt=""/></div>
                            <div><%= datas[j].des  %></div>
                        </td>
                        <td><%= datas[j].onePrice %></td>
                        <td><%= datas[j].count %></td>
                        <td><%= datas[j].oneGoodPrice %></td>
                    </tr><!--goodInfo end-->
                   <% } %>
                </table><!--订单中商品列表 orderList end-->
                <p id="back"><a href="shoppingCart.html">返回购物车</a></p>
        </div><!--订单主要区域 orderContainer end-->
        <div class="submitBox">
            <p>
                应付金额：￥<span id="allMoney"><%= allMoney %></span>
            </p>
            <p>
                <input type="button" id="sub" value="确认付款" />
            </p>
            <p class="showVipMoney" >
                <% if(newMoney!=0){%>
                  vip尊享价：<%= newMoney.toFixed(2) %>
                <% } %>
            </p>
        </div><!--提交订单submitBox end-->
    </div><!--content end-->
    <footer id="footer">
        <%- include foot.html %>
    </footer><!--footer end-->

    <div id="successPlay">
        <span class="fa fa-check-square"> </span>
        <p>支付成功，即将为你跳转首页</p>
    </div>
</div><!--wrapper end-->
<script>
    var submitBox = document.getElementsByClassName("submitBox");
    var sendPerson = document.getElementsByClassName("sendPerson");
    var sendPersonItems = document.getElementsByClassName("sendPersonItem");
    var exampleText = document.getElementsByClassName("exampleText");
    var otherInfo = document.getElementsByClassName("otherInfo");
    var billTitle = document.getElementsByClassName("billTitle");
    var cardContent = document.getElementById("cardContent");
    var idBox = document.getElementsByClassName("idBox");
    var allMoney = document.getElementById("allMoney");
    var radio = document.getElementsByClassName("radio");
    var sub = document.getElementById("sub");
    var showVipMoney = document.getElementsByClassName("showVipMoney");
    var radio = document.getElementsByClassName("radio");
    var addrItem = document.getElementsByClassName("addItem");
    var addrId = document.getElementsByClassName("addrId");
    var successPlay = document.getElementById("successPlay");
    var uname="tian";
    /*=====================点击确认结账================*/
    /*function showSuccessBox(){
        successPlay.style.display="block";
        setTimeout(function(){
            successPlay.style.display="";
        },3000);
    }*/
    /*================动态切换单选按钮===============*/
    for(var i=0;i<addrItem.length;i++){
        if(document.addEventListener){
            radio[i].addEventListener("click",changeRadio(radio[i]),true);
        }else{
            radio[i].attachEvent("onclick",changeRadio(radio[i]));
        }
    }
    function changeRadio(obj){
        return function(){
           for(var j=0;j<radio.length;j++){
               radio[j].checked=false;
           }
            obj.checked=true;
        }
    }
    /*===============监听单选按钮的变化，动态改变默认值=================*/
    for(var i=0;i<radio.length;i++){
        if(document.addEventListener){
            radio[i].addEventListener("click",updateAddr(radio[i],i),true);
        }else{
            radio[i].attachEvent("onclick",updateAddr(radio[i],i));
        }
    }
    function updateAddr(obj,m){
        return function(){
            if(obj.checked){
                var xhr;
                if(window.ActiveXObject){
                    xhr = new ActiveXObject("Microsoft.XMLHTTP");
                }else{
                    xhr = new XMLHttpRequest();
                }
                xhr.open("post","/updateAddr.do",true);
                xhr.setRequestHeader("content-type","application/x-www-form-urlencoded");
                xhr.onreadystatechange=function(){
                }
                console.log("在更新默认地址之前获取到的uname和addrId："+uname+"\t"+addrId[m].innerHTML);
                xhr.send("addrId="+addrId[m].innerHTML+"&uname="+uname);
            }
        }
    }
    /*==============监听鼠标滚动==============*/
    window.onscroll=function(){
        if(window.scrollY>400){
            submitBox[0].style.display="block";
        }else{
            submitBox[0].style.display="";
        }
    }
    /*========根据对象切换内容,并且改变按钮状态========*/
    for(var i=0;i<sendPersonItems.length;i++){
        if(document.addEventListener){
            sendPersonItems[i].addEventListener("click",change(sendPersonItems[i],i),true);
        }else{
            sendPersonItems[i].attachEvent("onclick",change(sendPersonItems[i],i));
        }
    }
    function change(obj,M){
        return function(){
            console.log("M"+M);
            console.log("obj"+obj.innerHTML);
            //1.改变按钮状态
            for(var i=0;i<sendPersonItems.length;i++){
                 sendPersonItems[i].style.backgroundColor="darkgray";
            }
            obj.style.backgroundColor="#009966";
            //2.改变下方文本框的内容
            if(obj.innerHTML=="送恋人"){
               exampleText[0].innerHTML="等待，只为与你的相遇。也许没有人会相信，这一刹那迸出的光芒，将要映亮你我漫漫一生。我在" +
                       "那盛开的兰花瓣上写出对你无穷的思念与祝福，并祝你生日快乐";
            }else if(obj.innerHTML=="送朋友"){
               exampleText[0].innerHTML=" 岁月总是越来越短，一天天一月月一年年，年年岁岁一圈又一圈。走过生命的这些年，淡忘了许多人或事，唯一留在心里的只有朋友的情谊。今日是你的生日，得以与你成为知己，" +
                       "是我一生最幸运的事，祝你生日快乐，一切如意。";
            }else if(obj.innerHTML=="送长辈"){
               exampleText[0].innerHTML="如果，您是一颗沧桑的老树，那么，我愿是那会唱歌的百灵，日夜栖在您的枝头鸣叫，换回您的年轻，让您永远青翠。爸爸，我爱您！";
            }

        }
    }
    /*==============动态收展input=============*/
    function showInputOther(obj){
        if(obj.checked){
            otherInfo[0].style.width="390px";
            otherInfo[0].style.opacity="1";
        }else{
            otherInfo[0].style.width="";
            otherInfo[0].style.opacity="";
        }
    }
    function showInputBill(obj){
        if(obj.checked){
            billTitle[0].style.width="390px";
            billTitle[0].style.opacity="1";
        }else{
            billTitle[0].style.width="";
            billTitle[0].style.opacity="0";
        }
    }
    /*==============将订单中需要的数据插入订单中=================*/
    if(document.addEventListener){
        sub.addEventListener("click",submitOrder,true);
    }else{
        sub.attachEvent("onclick",submitOrder);
    }

    function submitOrder(){
        var money=allMoney.innerHTML;
        var idArr=[];
        for(var i=0;i<idBox.length;i++){
            idArr.push(idBox[i].innerHTML);
        }
        var xhr;
        if(window.ActiveXObject){
            xhr = new ActiveXObject("Microsoft.XMLHTTP");
        }else{
            xhr = new XMLHttpRequest();
        }
        xhr.open("post","/insertOrderList.do",true);
        xhr.setRequestHeader("content-type","application/x-www-form-urlencoded");
        xhr.onreadystatechange=function(){
            if(xhr.readyState==4 && xhr.status===200){
                var data = xhr.responseText;
                if(data=="ok"){
                    successPlay.style.display="block";
                    setTimeout(function(){
                        successPlay.style.display="";
                        window.location.assign("index.html");
                    },3000);

                }else{
                    console.log("没有获取到数据");
                }
            }
        }
        console.log("页面中在插入订单表之前获取到的数据uname,money," +
                "cardtext,idArr:"+uname+"\t"+money+"\t"+cardContent.value+"\t"+idArr[0]);
        xhr.send("uname="+uname+"&allMoney="+money+"&cardText="+cardContent.value+"&idArr="+idArr);
    }

    var centers =document.getElementById('centers');
    centers.onclick=function(){
        //alert("sdfsdfsdf");
        window.location.href="personal.html";
    }
</script>

<script src="../js/checkLogStatus.js"></script>
<!--<script type="text/javascript" src="../js/head.js"></script>-->
</body>
</html>