@charset "utf-8";
/* CSS Document */








@charset "utf-8";
/* CSS Document */

@font-face {
	font-family: 'FontAwesome';
	src: url('../fonts/fontawesome-webfont.eot?v=4.0.3');
	src: url('../fonts/fontawesome-webfont.eot?#iefix&v=4.0.3') format('embedded-opentype'), url('../fonts/fontawesome-webfont.woff?v=4.0.3') format('woff'), url('../fonts/fontawesome-webfont.ttf?v=4.0.3') format('truetype'), url('../fonts/fontawesome-webfont.svg?v=4.0.3#fontawesomeregular') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'kalingaregular';
	src: url('../fonts/kalinga.eot');
	src: url('../fonts/kalinga.eot?#iefix') format('embedded-opentype'),
	url('../fonts/kalinga.woff') format('woff'),
	url('../fonts/kalinga.ttf') format('truetype'),
	url('../fonts/kalinga.svg#kalingaregular') format('svg');
	font-weight: normal;
	font-style: normal;
}

a {
	-webkit-transition: all 0.3s ease-in;
	-moz-transition: all 0.3s ease-in;
	-o-transition: all 0.3s ease-in;
}

/* STYLE */
@keyframes columns {
	from {box-shadow:0 0 0 0 #26C9FF;}
	to {box-shadow:0 0 0 20px transparent;}
}

@-webkit-keyframes columns {
	from {box-shadow:0 0 0 0 #26C9FF;}
	to {box-shadow:0 0 0 20px transparent;}
}

/* Link Hovers */
#latest-news-container a ,#latest-news a {
	color:#000;
	text-decoration:none;
}

#latest-news-container a:hover,#latest-news a:hover {
	color:#26C9FF;
}

/* Circular Content Carousel Style */
#latest-news-container ,#latest-news{
	max-width:1310px;
	height:750px;
	position:relative;
	margin:0px  20px ;
	margin-bottom: 20px;
	font-family: 'kalingaregular';
}

#latest-news-container .single-wrapper, #latest-news .single-wrapper{
	width:1300px;
	height:750px; /* Adjust Height On Single Wrapper / ( You Need To Change Height on ".single-item" bellow too, for the height to take effect ) */
	position:relative;
	margin:0 auto;
margin-top: 5px;
	border: solid 0px red;
}

/* Slide Width / Properties */
#latest-news-container .single-item,#latest-news .single-item {
	width:280px;
	height:296px; /* Adjust Height On Slide / To Your Needs */
	position:relative;
	float:left;
	margin-top: 45px;
	margin-left: 45px ;
	text-align:center;
}

/* Slide Hover Effect */
#latest-news-container .single-item:hover, #latest-news .single-item:hover{
	/*animation*/
	-webkit-animation:columns 0.3s;
	-moz-animation:columns 0.3s;
	-ms-animation:columns 0.3s;
	-o-animation:columns 0.3s;
	animation:columns 0.3s;
	/*transform*/
	-webkit-transform:scale(0.9);
	-moz-transform:scale(0.9);
	-ms-transform:scale(0.9);
	-o-transform:scale(0.9);
	transform:scale(0.9);
}

#latest-news-container .single-more,#latest-news .single-more{
	position: absolute;
	bottom: 10px;
	right:0px;
	padding:4px 15px;
	font-weight:bold;
	background: #ccbda2;
	text-align:center;
	color: white;
	font-family: 'kalingaregular';
	font-style:italic;
	text-shadow:1px 1px 1px #897c63;
}
#latest-news-container .single-item-main,#latest-news .single-item-main{
	padding:0px;
	margin:0px 2px 0px 0px;
	position:absolute;
	top:0px;
	left:0px;
	right:0px;
	bottom:0px;
	width: 285px;
	height: 296px;
	background:#fff;
	overflow:hidden;
	border:#EEEEEE thin solid;
	border-width:0px;
}

/* Single Item Circle Style Date */
#latest-news-container .single-item-main .date ,#latest-news .single-item-main .date{
	width:85px;
	height:65px;
	border-radius:50%;
	border:#26C9FF thin solid;
	border-width:3px;
	position:absolute;
	bottom:-45px;
	left:34%;
	background:#FFF;
	font-size:12px;
	text-align:center;
	padding:20px 0px 0px 0px;
}

/* Single Item Circle Style Date Hover Effect */
#latest-news-container .single-item-main .date:hover,#latest-news .single-item-main .date:hover {
	/*animation*/
	-webkit-animation:columns 0.3s;
	-moz-animation:columns 0.3s;
	-ms-animation:columns 0.3s;
	-o-animation:columns 0.3s;
	animation:columns 0.3s;
	/*transform*/
	-webkit-transform:scale(1.1);
	-moz-transform:scale(1.1);
	-ms-transform:scale(1.1);
	-o-transform:scale(1.1);
	transform:scale(1.1);
}


/* Slide Text */
#latest-news-container .single-item-main .text,#latest-news .single-item-main .text {
	font-family: 'kalingaregular';
	font-size:12px;
	text-align:center;
	padding:15px 20px 20px 20px;
	margin:10px 20px;
	line-height:18px;
}

/* Slide Image Size and properties */
#latest-news-container .single-icon,#latest-news .single-icon {
	width:285px;
	height:296px;
	position:relative;
	margin:0 auto;
	border-bottom:#26C9FF thin solid;
	border-bottom-width:3px;
}

#latest-news-container .single-icon .grid li,#latest-news .single-icon .grid li {
	display: inline-block;
	width: 285px;
	margin: 0;
	padding: 0px;
	text-align: left;
	position: relative;
}
#latest-news-container .single-icon .grid ul,#latest-news .single-icon .grid ul {
	display: inline-block;
	width: 285px;
	margin: 0;
	padding: 0px;
	text-align: left;
	position: relative;
}

#latest-news-container .single-icon .grid figure, #latest-news .single-icon .grid figure{
	margin: 0;
	position: relative;
}

#latest-news-container .single-icon .grid figure img,#latest-news .single-icon .grid figure img {
	max-width: 100%;
	display: block;
	position: relative;
}

#latest-news-container .single-icon .grid figcaption,#latest-news .single-icon .grid figcaption {
	position: absolute;
	top: 0;
	left: 0;
	padding: 5px;
	background: #F7F7F7;
	color: #ed4e6e;
}

#latest-news-container .single-icon .grid figcaption h3 ,#latest-news .single-icon .grid figcaption h3{
	margin: 0;
	padding: 10px;
	color: #000;
}

#latest-news-container .single-icon .grid figcaption span,#latest-news .single-icon .grid figcaption span {
	display:block;
	width:100%;
	text-align:center;
	text-shadow:none;
	color:#09C;
}

#latest-news-container .single-icon .grid figcaption span:before ,#latest-news .single-icon .grid figcaption span:before{
	/*content: 'By ';*/
}

#latest-news-container .single-icon .grid figcaption a,#latest-news .single-icon .grid figcaption a {
	text-align: center;
	padding: 0px 0px;
	border-radius: 2px;
	display: inline-block;
	background: none;

	color: #fff;

}
.cs-style-5{
	width: 285px;
	height: 296px;
	text-align: center;

}
.cs-style-5 figure{
	text-align: center;
}

.cs-style-5 figure img {
	z-index: 10;
	width: 215px;
	height: 296px;
	-webkit-transition: -webkit-transform 0.4s;
	-moz-transition: -moz-transform 0.4s;
	transition: transform 0.4s;
}

.no-touch .cs-style-5 figure:hover img,
.cs-style-5 figure.cs-hover img {
	margin-left: 40px;

	-webkit-transform: scale(0.4);
	-moz-transform: scale(0.4);
	-ms-transform: scale(0.4);
	transform: scale(0.4);
}

.cs-style-5 figcaption {
	width:285px;
	height:296px;
	text-align: center;
	opacity: 0;
	-webkit-transform: scale(0.8);
	-moz-transform: scale(0.8);
	-ms-transform: scale(0.8);
	transform: scale(0.8);
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	backface-visibility: hidden;
	-webkit-transition: -webkit-transform 0.4s, opacity 0.4s;
	-moz-transition: -moz-transform 0.4s, opacity 0.4s;
	transition: transform 0.4s, opacity 0.4s;
}

.no-touch .cs-style-5 figure:hover figcaption,
.cs-style-5 figure.cs-hover figcaption {
	-webkit-transform: scale(1);
	-moz-transform: scale(1);
	-ms-transform: scale(1);
	transform: scale(1);
	opacity: 1;
}

.cs-style-5 figure a {
	position: absolute;
	bottom: 30px;
	right: 75px;
}
.cs-style-5 figure a p{


	margin-right:-7px;



}
/* Slide Title */
#latest-news-container .single-item h3,#latest-news .single-item h3 {
	font-family: 'kalingaregular';
	font-size:16px;
	color:#000;
	margin:15px 0px 0px 0px;
	padding:0px 20px 0px 20px;
	height:auto;
	text-align:center;
	text-shadow: 0px 1px 1px #e4ebe9;
}

#latest-news-container .single-button, #latest-news .single-button{
	margin:30px 0px 20px 0px;
}

#latest-news-container .single-content-wrapper, #latest-news .single-content-wrapper{
	background:#b0ccc6;
	position:absolute;
	width:0px; /* expands to width of the wrapper minus 1 element */
	height:522px;
	top:5px;
	text-align:left;
	z-index:10000;
	overflow:hidden;
}

#latest-news-container .single-content,#latest-news .single-content{
	width:660px;
	overflow:hidden;
}

/* Navigation Arrows */
#latest-news-container .single-nav span,#latest-news .single-nav span{
	width:26px;
	height:26px;
	background:transparent url(../images/arrowsSquare.fw.png) no-repeat top left;
	position:absolute;
	top:0;
	margin-top:-35px;
	right:49px;
	text-indent:-9000px;
	opacity:0.7;
	cursor:pointer;
	z-index:100;
}

#latest-news-container .single-nav span.single-nav-next,#latest-news .single-nav span.single-nav-next{
	background-position:top right;
	top:0;
	left:auto;
	right:22px;
}

#latest-news-container .single-nav span:hover,#latest-news .single-nav span:hover{
	opacity:1.0;
}

/* ########################################## */
/* ########################################## */
/* ############## Button Style ############## */
/* ########################################## */
/* ########################################## */

/* General button style (reset) */
.btn {
	font-family: 'kalingaregular';
	border: none;
	border-radius:3px;
	-moz-border-radius:3px;
	color: inherit;
	background: none;
	cursor: pointer;
	padding: 12px 18px;
	display: inline-block;
margin-left: 15px;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-weight: normal;
	outline: none;
	position: relative;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
}
/*.chankan_2 {
	line-height: 38px;
	height: 38px;
width:80px;
	color: black  !important;;
}*/
.btn:after {
	content: '';
	position: absolute;
	z-index: -1;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
}

/* Pseudo elements for icons */
.btn:before,
.icon-heart:after,
.icon-star:after,
.icon-plus:after,
.icon-file:before {
	font-family: 'FontAwesome';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	position: relative;
	-webkit-font-smoothing: antialiased;
}

/* Button blue */
.btn-blue {
	background: #26C9FF;
	color: #FFF;
	box-shadow:none;
}
/*#chakna{
	position: relative;
   left: 50px;

}*/
.btn-blue:hover {
	background: #75C5FF;
	box-shadow:none;
	color:#FFF;
}

.btn-blue:active {
	background: #75C5FF;
	top: 2px;
}

.btn-blue:before {
	position: absolute;
	height: 100%;
	left: 0;
	top: 2px;
	line-height: 2;
	font-size: 140%;
	width: 25px;
}

/* Button 3blue */
.btn-3blue {
	padding: 15px 70px 10px 15px;
	overflow: hidden;
}

.btn-3blue:before {
	left: auto;
	right: 10px;
	z-index: 2;
}

.btn-3blue:after {
	width: 30%;
	height: 200%;
	background: rgba(31,141,204,0.5);
	z-index: 1;
	right: 0;
	top: 0;
	margin: -5px 0 0 -5px;
	-webkit-transform-origin: 0 0;
	-webkit-transform: rotate(-20deg);
	-moz-transform-origin: 0 0;
	-moz-transform: rotate(-20deg);
	-ms-transform-origin: 0 0;
	-ms-transform: rotate(-20deg);
	transform-origin: 0 0;
	transform: rotate(-20deg);
}

.btn-3blue:hover:after {
	width: 35%;
}
